body{

    background-color: rgb(196, 196, 234);
}
.middle{

    float: center;
}

.navbar{

    background-color: aqua;
    float: left;
}

.container {
    width:100%;
    height:100;
    display:flex;
    align-items:centre;
    justify-content:center;
    font-style: italic;
}

.click{
    padding: 4px 4px;
    background: rgb(253, 252, 248);

    outline: 0rem;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    font-style: italic;
}

.popup{
    width: 400px;
    background-color: rgb(244, 244, 218);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: o 30px 30px;
    color: brown;
    visibility: hidden;
    transition: transform 0.6s, top 0.6s;
}
.openPopup{

    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


.popup img{

    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px;
}

.popup button{

    background: rgb(131, 247, 131);
    padding: 10px 0;
    outline: none;
    font-size: 24;
    color: black;
    width: 100%;
    margin-top: auto;
    box-shadow: 0 2px 5px;  
}
.btn{
    padding: 30px 60px;
    background: var(--color);
    margin-bottom: 3px;
    cursor: pointer;
}
.btn-1 {--color:blue;}
.btn-2 {--color:green;}
.btn-3 {--color:red;}
.btn-4 {--color:yellow;}
.btn-5 {--color:rgb(194, 19, 153);}
.btn-6 {--color:orange;}

#date{
    cursor: pointer;
   
    background-color: whitesmoke;
}
#time{
    background-color: whitesmoke;
}
   










